@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro.woff") format("woff"),
  url("../fonts/MyriadPro.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothic-BoldCondTwenty";
  src: url("../fonts/TradeGothicLT-BoldCondTwenty.woff") format("woff"),
  url("../fonts/TradeGothicLT-BoldCondTwenty.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothic";
  src: url("../fonts/TradeGothicLT.woff") format("woff"),
  url("../fonts/TradeGothicLT.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothic-Light";
  src: url("../fonts/TradeGothicLT-Light.woff") format("woff"),
  url("../fonts/TradeGothicLT-Light.woff2") format("woff2");
}
