.modal {
  display: none;
  position: fixed;
  top: 10%;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background: #3f4049;
  z-index: 10;
  box-shadow: 0 20px 40px rgba(0,1,1,0.75);

  .modal__form {
    width: 100%;
    .modal__form--letter {
      margin: 70px 0 20px;

      input {
        display: block;
        width: 79%;
        margin: auto;
        padding: 16px 0 16px 25px;
        background: rgba(255,255,255,.1);
        border: none;
        margin-bottom: 30px;

        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }
    }

    .modal__check {
      display: flex;
      align-items: center;
      margin-top: 30px;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;

      .modal__bottom {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        background: #3f4049;
        color: #FFFFFF;
        padding: 15px;
        width: 84%;
        margin: auto;
        margin-bottom: 30px;
      }
    }
  }

  .modal__close {
    svg {
      position: absolute;
      top: 16px;
      right: 28px;
    }
  }
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.overlay-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

